h1{
    color: blueviolet;
   font-size: 40px;
}
h2
{
 color: blue;
}
strong{
    background-color: aqua;
}
body{
    background: url(sparkle-cloud-pastel-purple-image_53876-94837.avif);
}   

    .special-heading {
        color: antiquewhite;
    }
   #heading-style{
    color:chartreuse;
   }
.division1{
    width 200px

}